<!DOCTYPE html>
<html lang="en"></html>
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
        <header>
       
        </header>
        <main>
            <form action="/Succes" method="POST">
                <fieldset>
                    <legend>Browser Technologies</legend>
                    <br>
                    <label for="teacher">Docent:</label>
                    <br>
                    <input type="text" id='teacher' name='teachers' value="<%= BT ? BT.teachers : '' %>" required>
                    <br> <br>
                    <label for="date">Periode:</label>
                    <br>
                    <input type="date" name='date' value="<%= BT ? BT.date : '' %>" required>
                    <input type="date" name='date' value="<%= BT ? BT.date : '' %>" required>
                    <br>  <br>
                    <label for="grade">Beoordeling:</label>
                    <br>
                    <label for="1">1</label>
                    <input type='radio' name='grade' value='1' id='1'required>
                    <label for="2">2</label>
                    <input type='radio' name='grade' value='2' id='2'>
                    <label for="3">3</label>
                    <input type='radio' name='grade' value='3' id='3'>
                    <label for="4">4</label>
                    <input type='radio' name='grade' value='4' id='4'>
                    <label for="5">5</label>
                    <input type='radio' name='grade' value='5' id='5'>
                    <br> <br>
                    <label for="6">6</label>
                    <input type='radio' name='grade' value='6' id="6">
                    <label for="7">7</label>
                    <input type='radio' name='grade' value='7' id='7'>
                    <label for="8">8</label>
                    <input type='radio' name='grade' value='8' id='8'>
                    <label for="9">9</label>
                    <input type='radio' name='grade' value='9' id='9'>
                    <label for="10">10</label>
                    <input type='radio' name='grade' value='10' id='10'>
                    <br> <br>
                    <label for="quality">Lesstof:</label>
                    <br>
                    <textarea name="quality" value="<%= BT ? BT.quality : '' %>" id="quality" cols="50" rows="5" placeholder="Wat vond je van de kwaliteit?" required></textarea>
                    <br> <br>
                    <label for="explanation">Uitleg:</label>
                    <br>
                    <textarea name="explanation" value="<%= BT ? BT.explanation : '' %>" id="explanation" cols="50" rows="5" placeholder="Wat vond je van de uitleg tijdens het vak?" required></textarea>
                    <br> <br>
                    <label for="learning">Eigen inzicht:</label>
                    <br>
                    <textarea name="learning" value="<%= BT ? BT.learning : '' %>" id="learning" cols="50" rows="5" placeholder="Wat heb je geleerd tijdens dit vak?" required></textarea>
                    <br> <br>
                    <button type="submit">Volgend vak </button>
                    <br> <br>
                </fieldset>
            </form>
        </main>
	</body>
</html>