<!DOCTYPE html>
<html lang="en"></html>
	<head>
		<%- include('layout/head'); %>
      
	</head>

	<body>
        <%- include('layout/header'); %>
        <main>
            <p>5/5</p>
            <form action="/Succes" method="POST">
                <fieldset>
                    <br>
                    <label for="teachers">Docent:</label>
                    <br>
                    <input type="text" id='teachers' name='teachers' value="<%= BT ? BT.teachers : '' %>" required>
                    <br> <br>
                    <label for="date">Periode:</label>
                    <br>
                    <div>
                    <input type="date" name='date1' value="<%= BT ? BT.date1 : '' %>" required>
                    <input type="date" name='date2' value="<%= BT ? BT.date2 : '' %>" required>
                </div>
                    <br>  <br>
                    <label for="grade">Beoordeling:</label>
                    <br>
                    <div>
                    <label for="1">1</label>
                    <% if(BT && BT.grade === '1') { %>
                    <input type='radio' name='grade' value='1' id='1'checked>
                    <% } else { %>
                        <input type='radio' name='grade' value='1' id='1'required>
                        <% } %>
                    <label for="2">2</label>
                    <% if(BT && BT.grade === '2') { %>
                        <input type='radio' name='grade' value='2' id='2'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='2' id='2'>
                            <% } %>
                    <label for="3">3</label>
                    <% if(BT && BT.grade === '3') { %>
                        <input type='radio' name='grade' value='3' id='3'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='3' id='3'>
                            <% } %>
                    <label for="4">4</label>
                    <% if(BT && BT.grade === '4') { %>
                        <input type='radio' name='grade' value='4' id='4'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='4' id='4'>
                            <% } %>
                    <label for="5">5</label>
                    <% if(BT && BT.grade === '5') { %>
                        <input type='radio' name='grade' value='5' id='5'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='5' id='5'>
                            <% } %>
                    <br> <br>
                    <label for="6">6</label>
                    <% if(BT && BT.grade === '6') { %>
                        <input type='radio' name='grade' value='6' id='6'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='6' id='6'>
                            <% } %>
                    <label for="7">7</label>
                    <% if(BT && BT.grade === '7') { %>
                        <input type='radio' name='grade' value='7' id='7'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='7' id='7'>
                            <% } %>
                    <label for="8">8</label>
                    <% if(BT && BT.grade === '8') { %>
                        <input type='radio' name='grade' value='8' id='8'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='8' id='8'>
                            <% } %>
                    <label for="9">9</label>
                    <% if(BT && BT.grade === '9') { %>
                        <input type='radio' name='grade' value='9' id='9'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='9' id='9'>
                            <% } %>
                    <label for="10">10</label>
                    <% if(BT && BT.grade === '10') { %>
                        <input type='radio' name='grade' value='10' id='10'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='10' id='10'>
                            <% } %>
                        </div>
                    <br> <br>
                    <label for="quality">Lesstof:</label>
                    <br>
                    <textarea name="quality" id='quality' id="quality" cols="30" rows="5" placeholder="Wat vond je van de kwaliteit?" required><%= BT ? BT.quality : '' %></textarea>
                    <br> <br>
                    <label for="explanation">Uitleg:</label>
                    <br>
                    <textarea name="explanation" id="explanation" cols="30" rows="5" placeholder="Wat vond je van de uitleg tijdens het vak?" required><%= BT ? BT.explanation : '' %></textarea>
                    <br> <br>
                    <label for="learning">Eigen inzicht:</label>
                    <br>
                    <textarea name="learning"  id="learning" cols="30" rows="5" placeholder="Wat heb je geleerd tijdens dit vak?" required><%= BT ? BT.learning : '' %></textarea>
                    <br> <br>
                    <div>
                    <a href="/PWA">Vorige</a> <button type="submit">Volgend vak </button> 
                </div>
                    <br> <br>
                </fieldset>
            </form>
        </main>
	</body>
</html>