<!DOCTYPE html>
<html lang="en"></html>
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
        <%- include('layout/header'); %>
        <main>
            <p>3/5</p>
            <form action="/PWA" method="POST">
                <fieldset>
                    <legend>Web App From Scratch</legend>
                    <br>
                    <div>
                        <input type="text" id='teachers' name='teachers' classname='teachers' value="<%= WAFS ? WAFS.teachers : '' %>" required>
                        <label for="teachers"> <span>Docent *</span></label>
                    </div>
                    <br> <br>
                       
                            <input type="date" name='date1' value="<%= WAFS ? WAFS.date1 : '' %>" required>
                            <input type="date" name='date2' value="<%= WAFS ? WAFS.date2 : '' %>" required>
                            <label for="date" id='period'>Periode *</label>
                    <br>  <br>
                    <label for="grade" >Beoordeling *</label>
                    <br>
                    <section> 
                        <% if(WAFS && WAFS.grade === '1') { %>
                            <input type='radio' name='grade' value='1' id='1'checked>
                             <% } else { %>
                        <input type='radio' name='grade' value='1' id='1'required>
                        <% } %> <label for="1">1 </label>
                        
                        <% if(WAFS && WAFS.grade === '2') { %>
                        <input type='radio' name='grade' value='2' id='2'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='2' id='2'>
                            <% } %><label for="2">2</label>
                           
                             <% if(WAFS && WAFS.grade === '3') { %>
                        <input type='radio' name='grade' value='3' id='3'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='3' id='3'>
                            <% } %> <label for="3">3</label>
                           
                             <% if(WAFS && WAFS.grade === '4') { %>
                        <input type='radio' name='grade' value='4' id='4'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='4' id='4'>
                            <% } %> <label for="4">4</label>
                             
                             <% if(WAFS && WAFS.grade === '5') { %>
                        <input type='radio' name='grade' value='5' id='5'checked>
                        <% } else { %> 
                            <input type='radio' name='grade' value='5' id='5'>
                            <% } %> <label for="5">5</label>
                            </section> 
                            <section>
                            <br> <br>
                            
                              <% if(WAFS && WAFS.grade === '6') { %>
                        <input type='radio' name='grade' value='6' id='6'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='6' id='6'>
                            <% } %><label for="6">6</label>
                             
                                 <% if(WAFS && WAFS.grade === '7') { %>
                        <input type='radio' name='grade' value='7' id='7'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='7' id='7'>
                            <% } %> <label for="7">7</label>
                             
                               <% if(WAFS && WAFS.grade === '8') { %>
                        <input type='radio' name='grade' value='8' id='8'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='8' id='8'>
                            <% } %>  <label for="8">8</label>
                              
                                 <% if(WAFS && WAFS.grade === '9') { %>
                        <input type='radio' name='grade' value='9' id='9'checked>
                        <% } else { %>
                            <input type='radio' name='grade' value='9' id='9'>
                            <% } %> <label for="9">9 </label>
                              
                                <% if(WAFS && WAFS.grade === '10') { %>
                                      <input type='radio' name='grade' value='10' id='10'checked>
                                       <% } else { %>
                            <input type='radio' name='grade' value='10' id='10'>
                            <% } %><label for="10">10 </label>
                        </section>
                    <br> <br>
                    <div>
                        <input type="text" id='quality' name="quality" value="<%= WAFS ? WAFS.quality: '' %>" required>
                        <label for="quality"><span>Wat heb je aan de Lesstof gehad? *</span></label>
                    </div>
                    <br> <br>
                    <div>
                        <input type="text" id='explanation' name="explanation" value="<%= WAFS ? WAFS.explanation : '' %>" required>
                        <label for="explanation"> <span>Wat vond je van de uitleg? *</span></label>
                    </div>
                  
                    <br> <br>
                    <div>
                        <input type="text" id='learning' name="learning" value="<%= WAFS ? WAFS.learning : '' %>" required>
                        <label for="learning"> <span>Wat heb je geleerd? *</span> </label>
                    </div>
                    <br> <br>
                    <section>
                        <a href="/CSS">Vorige</a> <button type="submit">Volgende</button> 
                    </section>
                    <br> <br>
                </fieldset>
            </form>
        </main>
	</body>
</html>